.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myTable {
margin:0px;padding:0px;
	width:100%;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
	border-top-right-radius:9px;
	border-top-left-radius:9px;
}
.myTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.myTable td{
border: 1px solid black;
    border-collapse: collapse;
     word-wrap:break-word;
	 padding: 15px;
	 vertical-align:middle;
}
.myTable th{
    border: 3px solid black;
    border-collapse: collapse;
     word-wrap:break-word;
	 padding: 15px;
	 background-color:#005fbf;
}
.myTable tr:nth-child(odd){ background-color:#5656ff; }
.myTable tr:nth-child(even)    { background-color:#ffffff; }

.myPara{
color:blue;
text-align: left;
text-transform: capitalize;
font-style: normal;
font-size: 15px;
line-height: 1.0;
}

.myPara1{
color:black;
text-align: center;
text-transform: capitalize;
font-style: oblique;
font-size: 25px;
line-height: 1.0;
}

.myTable1 {
margin:0px;padding:0px;
	width:100%;
}
.myTable1 table{
    border-collapse: collapse;
        border-spacing: 2px;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	border-color:black;
	border-width:2px;
}
.myTable1 td{
border: 1px solid black;
    border-collapse: collapse;
     word-wrap:break-word;
	 padding: 15px;
	 vertical-align:middle;
	 background-color:#3d4fff;
}
.myTable1 th{
    border: 2px solid black;
    border-collapse: collapse;
     word-wrap:break-word;
	 padding: 15px;
	 background-color:#005fbf;
}

.myTextBox {
	border:2px solid #000b61;
	border-radius:8px;
	height: 15px;
	width: 200px;
}	

.myTextBox.input[type=text] {
font-style: oblique;
}

.myTextBox.focus {
  box-shadow: 0 0 5px 1px #969696;
}

.myTable2 {
margin:0px;padding:0px;
	width:100%;
	background-color:#e6e6ff;
}

.parameter {
	color: blue;
	font-size: 15px;


}

input[type=text] {
		padding: 10px;
  font-size: 1.1em;
}
input[type=email] {
		padding: 10px;
  font-size: 1.1em;
}
input[type=date] {
		padding: 10px;
  font-size: 1.1em;
}


input::-webkit-input-placeholder {
	color: rgba(0,5,143,.5);
	text-transform: uppercase;
}
input::-moz-placeholder {
	color: rgba(0,5,143,.5);
	text-transform: uppercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba(0,5,143,.5);
	text-transform: uppercase;
}
input:-ms-input-placeholder { 
	color: rgba(0,5,143,.5);
	text-transform: uppercase;
}

#wrapper {
  font: 20px Calibri;
  width: 100px;
  margin: 0 auto;
}
#headDiv {
	background-color: blue;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}